<!DOCTYPE html>
<html>

<div class="ui-title" data-role="header" align="left" data-position="fixed">
  <a href="<%= meetings_path %>" class="ui-btn-left" data-theme="a" data-rel="" data-icon="back">Back</a>

  <h1>Rocket Tips</h1>
</div>
<% binding %>
<div data-role="content">
  <ul data-role="listview" id="fix-list">
    <% @meetings.each do |meeting| %>
        <li class="custom-list">
          <div class="ui-grid-b">
            <div class="ui-block-a main-font" style="width:70%">
              <%= "#{DateTime.parse(meeting.date.to_s).strftime('%e %B')}: #{meeting.racecourse.name}" %>
              <br>
              <h10 class="kickoff">
                <%= meeting.event %>
              </h10>
            </div>
            <div class="ui-block-b main-font" style="width:30%">
              <td><%= link_to 'edit', edit_meeting_path(meeting) %></td>
              &nbsp
              <td><%= link_to 'delete', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>
</html>